@model X.PagedList.IPagedList<Foodweb.Models.Product>
@using X.PagedList.Mvc.Core;


@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Món</h1>
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<div class="d-flex justify-content-between mb-3">
    <a class="btn btn-primary" asp-action="Create">Thêm mới món</a>
    
    <form asp-action="Index" method="get" class="input-group-append">
        <select asp-items="ViewBag.CateId" name="CateId" onchange="forms[0].submit()">
        </select>

        <input type="text" name="searchInput" class="form-control float-right" placeholder="Tên món">

        <div class="input-group">
            <input type="number" name="to" class="form-control" placeholder="Từ giá">
            <input type="number" name="from" class="form-control" placeholder="Đến giá">
        </div>

        <div class="input-group-append">
            <button type="submit" id="searchButton" class="btn btn-default">
                <i class="fas fa-search"></i>
            </button>
        </div>
    </form>
</div>
<table class="table table-bordered">
    
    <thead class="thead thead-primary">
        
        <tr >
            <th>
                ID
            </th>
            <th>
               Tên món
            </th>
           
            <th>
               Giá
            </th>
            <th>
                Giảm giá
            </th>
           
            <th>
               Trạng thái
            </th>
            
            <th>
                Loại món
            </th>
            <th>
                Chức năng
            </th>
        </tr>
       
    </thead>

    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProName)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.Price) VND
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discout)  %
            </td>
           
            
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Cate.CateName)
            </td>
            <td>
                    
                    <a class="btn btn-success btn-tone m-r-5" asp-action="Details" asp-route-id="@item.ProId">Chi tiết</a>
                    <a class="btn btn-warning btn-tone m-r-5" asp-action="Edit" asp-route-id="@item.ProId">Sửa</a>
                    <a class="btn btn-danger btn-tone m-r-5" asp-action="Delete" asp-route-id="@item.ProId">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>


<div class="dataTables_paginate paging_simple_numbers" id="example1_paginate">
    <ul class="pagination">
        <li class="paginate_button page-item @(Model.HasPreviousPage ? "" : "disabled")" id="example1_previous">
            <a href="#" aria-controls="example1" data-dt-idx="0" tabindex="0" class="page-link previous" data-page-number="@Model.PageNumber - 1">Previous</a>
        </li>
        @for (int i = 1; i <= Model.PageCount; i++)
        {
            <li class="paginate_button page-item @(i == Model.PageNumber ? "active" : "")">
                <a href="@Url.Action("Index", "AdProducts", new { page = i })" aria-controls="example1" data-dt-idx="@i" tabindex="0" class="page-link">@i</a>
            </li>
        }
        <li class="paginate_button page-item @(Model.HasNextPage ? "" : "disabled")" id="example1_next">
            <a href="#" aria-controls="example1" data-dt-idx="7" tabindex="0" class="page-link next" data-page-number="@Model.PageNumber + 1">Next</a>
        </li>
    </ul>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            $('#example1_paginate').on('click', '.page-link', function (e) {
                e.preventDefault();
                if (!$(this).hasClass('disabled')) {
                    var page = $(this).text();

                    // Lấy số trang từ thuộc tính data-page-number
                    if ($(this).hasClass('previous')) {
                        page = $(this).data('page-number') - 1;
                    } else if ($(this).hasClass('next')) {
                        page = $(this).data('page-number') + 1;
                    }

                    if (page < 1 || page > @Model.PageCount) {
                        return;
                    }

                    window.location.href = '@Url.Action("Index", "AdProducts")' + '?page=' + page;
                }
            });
        });
    </script>
}