@model IEnumerable<Foodweb.Models.Order>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Đơn hàng</h1>

<div class="d-flex justify-content-between mb-3">
    <a class="btn btn-primary" asp-action="Create">Thêm mới đơn hàng</a>
</div>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
               Mã đơn hàng
            </th>
            <th>
               Ngày
            </th>           
            <th>
               Tổng tiền
            </th>
            <th>
               Địa chỉ
            </th>       
            <th>
                Chức năng
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalMoney)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            
            <td>

                <a class="btn btn-success btn-tone m-r-5" asp-action="Details" asp-route-id="@item.OrderId">Chi tiết</a>
                <a class="btn btn-warning btn-tone m-r-5" asp-action="Edit" asp-route-id="@item.OrderId">Sửa</a>
                <a class="btn btn-danger btn-tone m-r-5" asp-action="Delete" asp-route-id="@item.OrderId">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
